<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()" class="nav-item">
        <div class="nav-item-line">
            <img class="icon" src="assets/study-materials.png"/>
            <span class="nav-caption">Study Materials</span> 
        </div>
    </a>
    <a mat-list-item routerLink="/chatbot" (click)="onSidenavClose()" class="nav-item">
        <div class="nav-item-line">
            <img class="icon" src="assets/chatbot.png"/>
            <span class="nav-caption">Chatbot</span> 
        </div>
    </a>
    <a mat-list-item routerLink="/saved-articles" (click)="onSidenavClose()" class="nav-item">
        <div class="nav-item-line">
            <img class="icon" src="assets/saved-pages.png"/>
            <span class="nav-caption">Saved Pages</span> 
        </div>
    </a>
    <a *ngIf="isAdmin()" mat-list-item routerLink="/upload-training-files" (click)="onSidenavClose()" class="nav-item">
        <div class="nav-item-line">
            <img class="icon" src="assets/upload-training-files.png"/>
            <span class="nav-caption">Upload Training Files</span> 
        </div>
    </a>
    <a mat-list-item (click)="logOut()" class="nav-item">
        <div class="nav-item-line">
            <img class="icon" src="assets/logout.png"/>
            <span class="nav-caption">Logout</span> 
        </div>
    </a>
  </mat-nav-list>