.authentication-card {
  margin: 0 auto;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E4DF;
  border-radius: 25px;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.bodybg-color {
  background-color: #F8EFD9;
}

.action1{
  width: 80%;
  justify-content: flex-end;
  color: #7A674A;
}

.authentication-card-container {
  min-height: 100vh;
  align-items: center !important;
}

.authentication-card-content {
  width: 80%;
}

.authentication-card-title{
  line-height: normal;
  font-size: 3rem;
  padding-bottom: 35px;
  color: #3B5550;
}

.app-title {
  line-height: normal;
  font-size: 3rem;
  color: #3B5550;
  font-family: 'Fugaz One', cursive;
  z-index: 1;
  bottom: -20px;
  position: relative;
  text-shadow: 0px 2px 2px rgb(50 50 50 / 38%);
}


.mat-buttonSuccess{
  background-color: #3B5550 !important;
  color: whitesmoke !important;
  border-radius: 10px;
}

.mat-buttonSuccess:hover{
  box-shadow: rgba(80, 163, 69, 0.767) 0px 0px 15px;  
  border-radius: 30px;
}

.loginButton{
  width: 18vh;
  height: 5vh;
  font-size: large;
}



/*::ng-deep.mat-mdc-form-field-wrapper {
  background-color: #3B5550;
}

::ng-deep.mat-mdc-form-field-underline {
  change color of underline
  background-color: green !important;
} 

::ng-deep.mat-mdc-form-field-ripple {
 change color of underline when focused
 background-color: green !important;
}*/