
<div class="main">
  <div class="calendar-view">

    <h1>Home Page</h1>


    <iframe
      src="https://203studybuddy.streamlit.app/?embed=true"
      height="450"
      style="width:100%;border:none;"
    ></iframe>


      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>
      









      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN 2
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

      <h1>Home Page</h1>

      <br>
      <div *ngIf="isUserAuthenticated()" style="color:blue;">
        <h2>
          YOU ARE LOGGED IN 1
        </h2>
      </div>
  
      <br>
      <ul>
        <li><a routerLink="/customers">Customer</a></li>
        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        <li *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Log out</a></li>
      </ul>

  </div>
  <div class="saved-pages-view">
    <h1>Most recently saved posts</h1>

  </div>
</div>


